body {
  background: goldenrod;
}
.text {
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

ul a {
  color: green;
}
